

<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="card-title">
          <a style="margin-right: 15px;" class="btn btn-outline-primary" routerLink="/Blog/All"><i class="fas fa-border-all"></i><span> All</span> </a>
      </div>
      </div>
      <div class="card-body">
        <form>
          <app-error [errors]="errors"></app-error>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Technology</label>
                <input [value]="training?.technology" readonly type="text"
                 class="form-control">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Place</label>
                <input readonly type="text" [value]="training?.place"
                  class="form-control" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label> Content </label>
                <div class="form-control" [froalaView]="training?.content"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="button" class="btn btn-danger" (click)="DeleteTraining()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
