<div class="col-md-2 sidebar">
  <div class="sidebar-box">
    <div class="categories">
      <li><a  routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/Blog/All" routerLinkActive="active">Blogs</a></li>
      <li><a routerLink="/Followers" routerLinkActive="active">Followers</a></li>
      <li><a routerLink="/Training/All" routerLinkActive="active">Training</a></li>
      <li><a routerLink="/Job/All" routerLinkActive="active">Jobs</a></li>
    </div>
  </div>
</div>
