
<div class="card">
<div class="text-white bg-dark  card-header">
    <div>
         <app-personal-data [currentstudent]="this.Id" [Id]="post.cisStudentId"></app-personal-data>

    </div>
   
</div>
<div class="panel-body" style="padding: 5px;">
    <div style="margin-top: 15px;margin-bottom: 15px;">
        <h2>{{post.title}}  </h2><span>{{post.dateTime|date}}</span>
    </div>
    
    <div>{{post.technology}}</div>
    <div [innerHtml]="post.postcontaint|safeHtml">

    </div>
</div>

<div class="card-footer bg-light">
    <table class="table">
        <tr>
            <td  style="border: none;"><a class="btn btn-secondary" style="text-decoration: none;"
                    href="{{commenthref+post.id}}">Add Comment</a></td>

            <td style="border: none;cursor: pointer;" (click)="Show_Comments(post.id)" id="{{post.id}}" >
                <span ></span>Show
                Comments
            </td>
        </tr>
    </table>
    <div *ngIf="Show&&post.id==Show">
        <div *ngIf="!allcomments">
            Load......
        </div>
        <div *ngIf="commentsisempty" class="alert alert-info">No Comments</div>
        <div *ngFor="let comment of allcomments">
                <table class="table">
                    <app-commentopostt-component [Id]="this.Id" [comment]="comment"></app-commentopostt-component>
                </table>
           



        </div>

    </div>
</div>
</div>

