
<nav style="background-color: #ffff !important;" class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <form>
        <div class="input-group no-border">
          <input (input)="SearchProfiles()" [formControl]="searchTitle" type="text" value="" class="form-control" placeholder="Search...">
          <div class="input-group-append">
            <div class="input-group-text" (click)="SearchProfiles()">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
        <div  style="position: absolute;color: white !important;" *ngIf="searchTitle.value" class="searchList">
          <a style="color: white !important;" class="dropdown-item btn btn-light" [routerLink]="['/StudentProfile/',profile.cisStudentId]" *ngFor="let profile of profiles">

              <img style="width: 50px;" [src]="profile.cisStudent.image"  class="img-circle img-no-padding img-responsive">
              <span class="ml-2">{{profile.cisStudent.name}}</span>
          </a>
       </div>
      </form>
    </div>
  </div>
</nav>

