
<div class="containerBlog">
  <div class="blog">
    <figure class="blogContent">
      <h1 class="blogTitle">{{post.title}}</h1>
      <img [src]="post.cisStudent.image" class="profileImage">
      <figcaption>{{post.createDate|date}}</figcaption>
      <blockquote class="blogText">{{post.content}}</blockquote>
    </figure>
  </div>

</div>
<div class="commentContainer">
  <app-display-comment [comments]="post.comments"></app-display-comment>
  <div class="addComment blogComment">
    <form role="form" [formGroup]='commentGroup' (ngSubmit)='Save(commentGroup.value)' style="margin: 30px;">
      <textarea class="commenttoAdd form-control" rows="5" formControlName="content" placeholder="Enter Comment Content"
        required></textarea>
      <ul>
        <li>
          <button type="submit" class="btn btn-info" [disabled]="!commentGroup.valid">Submit</button>
        </li>
        <li>
          <button type="reset" class="btn btn-danger">Cancel</button>
        </li>
      </ul>
    </form>
  </div>
</div>
