<app-header></app-header>
<section class=" mb-5 site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5"
  style="background-image: url(./assets/images/big_image_1.jpg);">
  <div class="container">
    <div class="row align-items-center site-hero-inner justify-content-center">
      <div class="col-md-8 text-center">
        <div class="mb-5 element-animate fadeInUp element-animated">
          <h1 class="mb-3">Blog</h1>
        </div>

      </div>
    </div>
  </div>
</section>
<div class="containerBlog">
  <div class="blog">
    <figure class="blogContent">
      <h1 class="blogTitle">{{post.title}}</h1>
      <img [src]="post.cisStudent.image" class="profileImage">
      <figcaption>{{post.createDate|date}}</figcaption>
      <blockquote class="blogText">{{post.content}}</blockquote>
    </figure>
  </div>

</div>
<div class="commentContainer">


  <div *ngFor="let comm of post.comments" class="blogComment">


    <div  class="comment">

      <div  class="commentContent">
        <div class="commentHeader">
          <img class="personalImage" [src]="comm.cisStudent.image">
          <ul>
            <li>{{comm.cisStudent.name}}</li>
            <li>{{comm.createDate|date}}</li>
          </ul>
        </div>
        <section class="commentSection">
         {{comm.content}}
        </section>
        <button class="reply btn-info">Reply</button>

      </div>
    </div>
    <!-- <hr>
    <div class="replytoComment">

      <div class="comment">

        <div class="commentContent">
          <div class="commentHeader">
            <img class="personalImage" src="./assets/images/big_image_1.jpg">
            <ul>
              <li>Ruslan Fedosedko</li>
              <li>February 5, 2021 2:14 am</li>
            </ul>
          </div>
          <section class="commentSection">
            What do you mean by discoverable? As for me first thoughts when I read the post heading is that
            some kind of service discovery will be discribed.
          </section>
          <button class="reply">Reply</button>
          <hr>

        </div>
      </div>
    </div> -->
  </div>
  <div class="addComment blogComment">
    <form role="form" [formGroup]='commentGroup' (ngSubmit)='Save(commentGroup.value)' style="margin: 30px;">
      <textarea class="commenttoAdd form-control" rows="5" formControlName="content"
        placeholder="Enter Comment Content" required></textarea>
      <ul>
        <li>
          <button type="submit" class="btn btn-info" [disabled]="!commentGroup.valid">Submit</button>
        </li>
        <li>
          <button type="reset" class="btn btn-danger">Cancel</button>
        </li>
        <li><span class="btn btn-light">7 Comments</span></li>
      </ul>
    </form>
  </div>
</div>
