<div class="wrapper">

  <div class="main-panel">

      <div class="content">
        <div class="row" >
          <div style="margin: auto auto;" class="col-md-6">
            <div class="card card-user">
              <div class="card-header">
                <div class="card-title text-center" style="color: #34B5B8;">
                  <i class="fa-5x fas fa-users-cog"></i>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="changePassword" (ngSubmit)="PasswordChange(changePassword.value)">
                  <app-error [errors]="errors"></app-error>



                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="fas fa-unlock"></i> Password</label>
                        <input formControlName="password" class="form-control " type="password" name="password">
                        <span
                            *ngIf="changePassword.get('password').errors?.required&&changePassword.get('password').touched">Password
                            is Required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="fas fa-unlock"></i>Confirm Password</label>
                        <input formControlName="confirmPassword" class="form-control " type="password" name="confirmPassword">
                        <span
                            *ngIf="changePassword.get('confirmPassword').errors?.required&&changePassword.get('confirmPassword').touched">Confirm Password
                            is Required</span>
                             <span
                            *ngIf="changePassword.get('confirmPassword').errors?.mustMatch&&changePassword.get('confirmPassword').touched">
                            Passwords must match
                            </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input [disabled]="!changePassword.valid" type="submit" value="Send" class="btn btn-primary">
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>



