<tr>
    <td style="border: none;">
        <img class="img img-responsive" style="max-width: 80px"
            src="http://localhost:57761/upload/{{this.allcisstudent[comment.studentId].studentImage|imagemaintance}}">
    </td>
    <td style="border: none;">
        <h5>{{this.allcisstudent[comment.studentId].studentName}}</h5>
    </td>
</tr>
<tr>
    <td style="border: none;">
        <time>{{comment.time|date}}</time>
        <div [innerHtml]="comment.comment"></div>
    </td>
</tr>
<tr>

    <td style="border: none;">
        
        <button (click)="showresponsetocomment(comment.id)" class="btn btn-dark" type="button" >
           Response
        </button>
    </td>
    <td style="border: none;">
        <a href="{{responsetocommenthref+comment.id}}">Responses</a>
    </td>
</tr>
<tr>
    <div *ngIf="comment.id==responsecommenttoshow" >
      <dialog  id="containtresponse" style="z-index: 1; overflow:scroll;max-height:600px;min-width: 500px;">
      <button (click)="closedialog()"  id="closecontaintresponse" class="btn btn-danger " style="float: right"  >Close</button>
          <div *ngFor="let responsetocomment of allresponsecomment">
               
              <app-responseforcomment [Id]="this.Id" [responsetocomment]="responsetocomment"></app-responseforcomment>
           
           
          </div>
      </dialog>
        
           
   
   
    </div>
</tr>

  


    