<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Profile <i class="far fa-edit"></i></h5>
      </div>
      <div class="card-body">
        <form [formGroup]='profileGroup' (ngSubmit)='Save(profileGroup.value)'>
          <app-error [errors]="errors"></app-error>


          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Company </label>
                <input placeholder="Company" formControlName="company" class="form-control" type="text"/>
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label for="Carear">Carear</label>
                <input placeholder="Carear" formControlName="carear" class="form-control" type="text"/>
              </div>
            </div>
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>Age</label>
                <input placeholder="Age" formControlName="age" class="form-control" type="text" name="age">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Kind</label>
                <select formControlName="kind" class="form-control">
                  <option value="Female">Female</option>
                  <option value="Male">Male</option>
                  </select>
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Language</label>
                <input placeholder="Language" formControlName="language" class="form-control" type="text" name="language">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Programming Language</label>
                <input placeholder="Programing Language" formControlName="programing_Language" class="form-control" type="text"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input placeholder="City" formControlName="city" class="form-control" type="text" name="city">
              </div>
            </div>
            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>University</label>
                <input placeholder="University" formControlName="university" class="form-control" type="text" name="university">
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Experience</label>
                <input placeholder="Experience" formControlName="experience"  class="form-control" type="text">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Colleage</label>
                <input placeholder="Colleage" formControlName="colleage" class="form-control" type="text" name="colleage">
              </div>
            </div>
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Appreciation</label>
                <input placeholder="Appreciation" formControlName="appreciation" class="form-control" type="text"/>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea   formControlName="addition"  class="form-control textarea"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button class="btn btn-primary btn-round" [disabled]='!profileGroup.valid'>Save</button>
              <a  [routerLink]="['/StudentProfile/'+studentId]" class="btn btn-light btn-round">PreView Profile</a>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
