<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="card-title">
          <a style="margin-right: 15px;" class="btn btn-outline-primary" routerLink="/Blog/All"><i class="fas fa-border-all"></i><span> All</span> </a>
      </div>
      </div>
      <div class="card-body">
        <form role="form">
          <app-error [errors]="errors"></app-error>


          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Topic </label>
                <input readonly [value]="post?.title" autofocus autocomplete="none" type="text"  placeholder="Enter Title"
                class="form-control" required >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label> Content </label>
                <div [froalaView]="post.content" class="form-control">

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="button" class="btn btn-danger btn-round" (click)="DeletePost()">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>


