
<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <div class="card-title">
          <a style="margin-right: 15px;" class="btn btn-outline-primary" routerLink="/Job/All"><i class="fas fa-border-all"></i><span> All</span> </a>
      </div>
      </div>
      <div class="card-body">
        <form role="form" [formGroup]='jobGroup' (ngSubmit)='Save(jobGroup.value)'>
          <app-error [errors]="errors"></app-error>


          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Technology</label>
                <input formControlName="technology" autofocus autocomplete="none" type="text"
                  placeholder="Enter Technology" class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Place</label>
                <input formControlName="place" autofocus autocomplete="none" type="text" placeholder="Enter Place"
                  class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label>Contact Us (Email)</label>
                <input formControlName="contactUs" autofocus autocomplete="none" type="text" placeholder="Enter ContactUS"
                class="form-control" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 pr-1">
              <div class="form-group">
                <label> Content </label>
                <textarea class="form-control" rows="5" formControlName="content" [froalaEditor]="froalaObject" placeholder="Enter Blog Content">
                </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-info" [disabled]="!jobGroup.valid">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
