<div class="wrapper">

  <div class="main-panel">

      <div class="content">
        <div class="row" >
          <div style="margin: auto auto;" class="col-md-6">
            <div class="card card-user">
              <div class="card-header">
                <div class="card-title text-center" style="color: #34B5B8;">
                  <i class="fa-5x fas fa-users-cog"></i>
                </div>
              </div>
              <div class="card-body">
                <div *ngIf="showConfirmMessage" class="alert alert-success" role="alert">
                  Check your email to confirm.

              </div>
                <form [formGroup]='userRegister' (ngSubmit)='Save(userRegister.value)'>
                  <app-error [errors]="errors"></app-error>

                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="fas fa-user-check"></i> Name</label>
                        <input formControlName="name" class="form-control" type="text" name="name">
              <span style="color:red"   *ngIf="userRegister.get('name').invalid&&userRegister.get('name').touched">Name is Required</span>


                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="far fa-envelope"></i> Email</label>
                        <input formControlName="email" class="form-control" type="email" name="email">
                        <span style="color:red"   *ngIf="userRegister.get('email').errors?.required&&userRegister.get('email').touched">Email is
                          Required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="fas fa-unlock"></i> Password</label>
                        <input formControlName="password" class="form-control " type="password" name="password">
                        <span style="color:red" *ngIf="userRegister.get('password').errors?.required&&userRegister.get('password').touched">Password
                          is Required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <div class="custom-file">
                        <input  #imageInput accept="image/*" (change)="handleInputChange($event)" type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                        <!--<button type="button" class="btn btn-primary col-sm-4" (click)="saveimage(file.files)">upload</button>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-12">
                          <img style="max-width: 250px;" *ngIf="imageSrc" class="img img-responsive" [src]="imageSrc"/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <button class="btn btn-primary" type="submit" [disabled]="!userRegister.valid">Sign Up</button>
                      <a class="btn btn-primary" routerLink="/signIn">Sign In</a>
                      <a class="btn btn-primary" routerLink="/ResetPassword">Forgot Password</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>




