<div class="row">
  <div class="col-md-12">
    <a style="margin-right: 15px;" class="btn btn-outline-success" routerLink="/Training/All"><i class="fas fa-border-all"></i><span> All</span> </a>
    <a class="btn btn-outline-success" routerLink="/Training/Create"><i class="far fa-plus-square"></i> Create</a>

  </div>
</div>

<div class="row">

  <div *ngFor="let training of trainings" class="col-md-6">
    <div class="card card-user">
      <div class="image">
      </div>
      <div class="card-body">
        <div class="author">
          <a [routerLink]="['/StudentProfile/'+training.cisStudent.id]">
            <img class="avatar border-gray"  [src]="training.cisStudent.image" alt="...">
            <h5 class="title">{{training.cisStudent.name}}</h5>
          </a>
          <p class="description">
            {{training.createDate|date}}
          </p>
        </div>
        <h3 class="text-center">
          {{training.place}}
        </h3>
        <p [froalaView]="training.content">
        </p>
        <a routerLink="#" *ngFor="let tech of training?.technology.split(' ')"> {{tech}} </a>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>
                <br>
                <small><a  class="btn btn-primary" [routerLink]="['/Training/Edit/'+training.id]">
                  <i class="far fa-edit"></i>
                </a></small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>
                <br>
                <small><a class="btn btn-danger" [routerLink]="['/Training/Delete/'+training.id]">
                  <i class="far fa-trash-alt"></i>
                </a></small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

