<app-header></app-header>

<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5"
    style="background-image: url(./assets/images/big_image_1.jpg);">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">

                <div class="mb-5 element-animate fadeInUp element-animated">
                  <h1>Login</h1>
                </div>
              </div>
        </div>
    </div>
</section>
<!-- END section -->


<section class="site-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-5 box">

                <form [formGroup]="userLogin" (ngSubmit)="login(userLogin.value)">
                    <app-error [errors]="errors"></app-error>
                    <div class="row">
                        <div class="form-group col-md-12 ">
                            <label class="label-control">Email</label>
                            <input formControlName="email" class="form-control" type="email" name="email">
                            <span
                                *ngIf="userLogin.get('email').errors?.required&&userLogin.get('email').touched">Email
                                is Required</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="label-control ">Password</label>
                            <input formControlName="password" class="form-control " type="password" name="password">
                            <span
                                *ngIf="userLogin.get('password').errors?.required&&userLogin.get('password').touched">Password
                                is Required</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input [disabled]="!userLogin.valid" type="submit" value="Sign in" class="btn btn-primary">
                        </div>
                    </div>

                </form>
                </div>
            </div>
        </div>
</section>
<!-- END section -->
