<div class="wrapper">

  <div class="main-panel">

      <div class="content">
        <div class="row" >
          <div style="margin: auto auto;" class="col-md-6">
            <div class="card card-user">
              <div class="card-header">
                <div class="card-title text-center" style="color: #34B5B8;">
                  <i class="fa-5x fas fa-users-cog"></i>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="userLogin" (ngSubmit)="login(userLogin.value)">
                  <app-error [errors]="errors"></app-error>


                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="far fa-envelope"></i> Email</label>
                        <input formControlName="email" class="form-control" type="email" name="email">
                                    <span
                                        *ngIf="userLogin.get('email').errors?.required&&userLogin.get('email').touched">Email
                                        is Required</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="fas fa-unlock"></i> Password</label>
                        <input formControlName="password" class="form-control " type="password" name="password">
                        <span
                            *ngIf="userLogin.get('password').errors?.required&&userLogin.get('password').touched">Password
                            is Required</span>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input [disabled]="!userLogin.valid" type="submit" value="Sign in" class="btn btn-primary">
                      <a class="btn btn-primary" routerLink="/signUp">Sign Up</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>


