<div class="wrapper">

  <div class="main-panel">

      <div class="content">
        <div class="row" >
          <div style="margin: auto auto;" class="col-md-6">
            <div class="card card-user">
              <div class="card-header">
                <div class="card-title text-center" style="color: #34B5B8;">
                  <i class="fa-5x fas fa-users-cog"></i>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="forgetPassword" (ngSubmit)="ForgetPassword(forgetPassword.value)">
                  <div *ngIf="showSuccessSend" class="alert alert-success" role="alert">
                   Please Check your email
                  </div>
                  <app-error [errors]="errors"></app-error>


                  <div class="row">
                    <div class="col-md-12 pr-1">
                      <div class="form-group">
                        <label><i class="far fa-envelope"></i> Email</label>
                        <input formControlName="email" class="form-control" type="email" name="email">
                                    <span
                                        *ngIf="forgetPassword.get('email').errors?.required&&forgetPassword.get('email').touched">Email
                                        is Required</span>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="update ml-auto mr-auto">
                      <input [disabled]="!forgetPassword.valid" type="submit" value="Send" class="btn btn-primary">
                    </div>
                  </div>
                </form>

              </div>
            </div>

          </div>
        </div>
      </div>

  </div>
</div>

