<ul style="list-style: none">
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Age
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.age}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        University
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.university}}

    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Carear
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.carear}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Colleage
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.colleage}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Programing_Language
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.program_Language}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Language
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.language}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Company_working
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.company_youWork}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Appreciation
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.appreciation}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Kind
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.kind}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Experience
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.experience}}
    </li>
    <li style="    border: 2px solid #17A2BB;
    color: #007Bff;
    border-radius: 5px; text-align: center;margin-top:5%">
        Addition
    </li>
    <li style="text-align: center;">
        {{CisStudentProfile.addition}}
    </li>

</ul>

<!-- Button trigger modal -->
