<div class="sidebar-box">
    <div class="categories" >
      <h3>Profile</h3>
      <li><a href="#">Carear </a></li>
      <li><span>{{CisStudentProfile.carear}}</span></li>
      <li><a href="#">Experience </a></li>
      <li><span>{{CisStudentProfile.experience}}</span></li>
      <li><a href="#">University </a></li>
      <li><span>{{CisStudentProfile.university}}</span></li>
      <li><a href="#">Colleage</a></li> 
      <li> <span>{{CisStudentProfile.colleage}}</span></li>
     
      <li><a href="#">Colleage </a></li>
      <li><span>{{CisStudentProfile.appreciation}}</span></li>
      <li><a href="#">Programing_Language </a></li>
<li><span>{{CisStudentProfile.program_Language}}</span></li>
    </div>
</div>
<div class="sidebar-box">
    <div class="categories">
        <h3>Description</h3>
    <p>{{CisStudentProfile.addition}}</p>
    <h4>Company_working</h4>
    <p> {{CisStudentProfile.company_youWork}}</p>
    </div>
    
</div>




<!-- Button trigger modal -->
