<div class="row">
  <div class="col-md-12">
    <a style="margin-right: 15px;" class="btn btn-outline-success" routerLink="/Blog/All"><i class="fas fa-border-all"></i><span> All</span> </a>
    <a class="btn btn-outline-success" routerLink="/Blog/Create"><i class="far fa-plus-square"></i> Create</a>

  </div>
</div>

<div class="row">

  <div *ngFor="let post of posts" class="col-md-6">
    <div class="card card-user">
      <div class="image">
      </div>
      <div class="card-body">
        <div class="author">
          <a [routerLink]="['/StudentProfile/'+post.cisStudent.id]">
            <img class="avatar border-gray"  [src]="post.cisStudent.image" alt="...">
            <h5 class="title">{{post.cisStudent.name}}</h5>
          </a>
          <p class="description">
            {{post.createDate|date}}
          </p>
        </div>
        <h3 class="text-center">
          {{post.title}}
        </h3>
        <p>
          {{post.content}}
        </p>
      </div>
      <div class="card-footer">
        <hr>
        <div class="button-container">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-6 ml-auto">
              <h5>
                <br>
                <small><a  class="btn btn-primary" [routerLink]="['/Blog/Edit/'+post.id]">
                  <i class="far fa-edit"></i>
                </a></small>
              </h5>
            </div>
            <div class="col-lg-4 col-md-6 col-6 ml-auto mr-auto">
              <h5>
                <br>
                <small><a class="btn btn-danger" [routerLink]="['/Blog/Delete/'+post.id]">
                  <i class="far fa-trash-alt"></i>
                </a></small>
              </h5>
            </div>
            <div class="col-lg-3 mr-auto">
              <h5>
                <br>
                <small>
                  <a class="btn btn-outline-success" [routerLink]="['/Blog/ViewBlog/'+post.id]"><i class="fas fa-eye"></i></a>
                </small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
